@use "../../../../shared/lib/stylesheets/abstracts/" as *;
 
$card-p: 1em;

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $card-p;

  padding: $card-p;

  border: 1px solid black;
  border-radius: 5px;
}

.username {

}

.role {
  font-weight: $bold;
}

.email {

}
