@use "../../../../shared/lib/stylesheets/abstracts/" as *;

.item-card {
  grid-area: "gallery    gallery   " "gallery    gallery   " "title      title     "
    "price      discount  " "created-at created-at";

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25em;

  padding: 1em;

  background-color: $white;

  border-radius: 1em;

  transition: all 0.15s ease-in-out;

  cursor: pointer;

  &:hover {
    scale: 1.05;
    border-radius: 0.5em;
  }
}

.gallery {
  grid-area: gallery;
}

.title {
  grid-area: title;

  font-weight: $bold;
}

.price {
  grid-area: price;
}

.discount {
  grid-area: discount;
}

.created-at {
  grid-area: created-at;
}

.price-section {
  display: flex;
  gap: 0.5em;

  font-weight: $bold;
}
